<p>Remplissez le formulaire ci-dessous et nous vons répondrons dans les meilleurs délais.</p>

<form action="/contact" method="POST">

    <label for="nom">Nom: </label>
    <input type="text" name="nom" required="" oninvalid="this.setCustomValidity('Vous devez inscrire un nom.')" oninput="setCustomValidity('')">
    <br>
    <br>
    <label for="prenom">Prénom: </label>
    <input type="text" name="prenom" required="" oninvalid="this.setCustomValidity('Vous devez inscrire un prénom.')" oninput="setCustomValidity('')">
    <br>
    <br>
    <label for="courriel">Courriel: </label>
    <input type="email" name="courriel" required="" oninvalid="this.setCustomValidity('Vous devez inscrire un courriel.')" oninput="setCustomValidity('')">
    <br>
    <br>
    <label for="telephone">Téléphone: </label>
    <input type="tel" name="telephone" required="" oninvalid="this.setCustomValidity('Vous devez inscrire un numéro de téléphone')" oninput="setCustomValidity('')">
    <br>
    <br>
    <label for="sujet">Sujet de la demande: </label>
    <select name="sujet" id="sujet" required="" oninvalid="this.setCustomValidity('Vous devez choisir un sujet.')" oninput="setCustomValidity('')">
        <option value disabled selected>Choisir</option>
        <option value="Inscription">Inscription</option>
        <option value="Demande de formation">Demande de formation</option>
    </select>
    <br>
    <br>
    <textarea name="demande" id="demande" cols="30" rows="10" required="" oninvalid="this.setCustomValidity('Vous devez écrire votre demande.')" oninput="setCustomValidity('')"></textarea>
    <br>
    <br>
    <input type="submit" id="submit" value="Envoyer">

</form>