<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{title}}</h1>
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/formations">Nos formations</a>
          <ul>
            <li><a href="/mongodb">Formations MongoDB</a></li>
            <li><a href="/nodejs">Formations Nodejs</a></li>
          </ul>
        </li>
        <li><a href="/blog">Le blog</a></li>
        <li><a href="/contact">Nous contacter</a></li>
      </ul>
    </nav>
    <hr>
    {{{body}}}
  </body>
</html>
