<p>Voici nos formations Nodejs. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus lectus et nibh commodo hendrerit. Cras dictum ligula justo. Nam dolor velit, commodo nec urna maximus, consequat commodo metus. Ut mauris massa, dapibus sed sodales quis, sodales sed neque. Donec justo elit, feugiat quis tincidunt eget, placerat nec mi. Sed eu orci sit amet erat volutpat fringilla egestas quis purus. Morbi iaculis eget ligula aliquam egestas.</p>
<hr>

<h2><a href="/formations/{{formations.5.id}}">{{formations.5.nom}}</a></h2>
<div>{{formations.5.desc}}</div>

<h2><a href="/formations/{{formations.6.id}}">{{formations.6.nom}}</a></h2>
<div>{{formations.6.desc}}</div>

<h2><a href="/formations/{{formations.7.id}}">{{formations.7.nom}}</a></h2>
<div>{{formations.7.desc}}</div>

<h2><a href="/formations/{{formations.8.id}}">{{formations.8.nom}}</a></h2>
<div>{{formations.8.desc}}</div>

<h2><a href="/formations/{{formations.9.id}}">{{formations.9.nom}}</a></h2>
<div>{{formations.9.desc}}</div>